.netrwhist
backup/*
.excludes
X/xmonad/xmonad.errors
X/xmonad/xmonad-x86_64-linux
X/xmonad/xmonad.hi
X/xmonad/xmonad.o
config/chromium/
config/dconf
config/gnome-mplayer
config/ibus
config/inkscape
config/libfm
config/libimobiledevice/
config/nautilus/
config/pavucontrol.ini
config/pcmanfm/
config/pulse/
config/ristretto
config/Skype
config/spotify
config/Trolltech.conf
config/unixODBC-GUI-Qt/
config/xfce4/
config/fish/fish_history
config/fish/fishd.9ad6bb5f881c
config/fish/fishd.fook
config/gtk-2.0/gtkfilechooser.ini
config/gtk-2.0
config/gtk-3.0/
config/fish/fishd.d850e64a766d
